<div class="mb-5">
  
    <div class="container-sm text-dark">
      <h1>Contact </h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ex culpa iusto quae laborum assumenda consectetur aspernatur ratione adipisci similique debitis rem nobis natus commodi sit dolor, corrupti illum ullam?.</p>
    </div>
    
    <div class="container-sm text-dark col-sm-8 bg-light border border-2 border-secondary rounded-3 shadow-sm p-3"> <form action="">
      <div class="row mb-3> <label for="contactemail" class="col-sm-2 col-form-label">Your email:</label>
        <div class="col-sm-10">
          <input type="email" id="contactemail" class="form-control" required placeholder="your email here">
        </div>
      </div>
      
      <div class="row mb-3 g-2"> <label for="contactmessage" class="col-sm-2 col-form-label">Your message:</label>
        <div class="col-sm-10"> <textarea class="form-control" placeholder="Leave a comment here" id="contactmessage" rows="5"></textarea>
        </div>
      </div>
      <div class="row"> <div class="col-sm-12 d-grid gap-2 d-md-flex justify-content-md-end"> <button class="btn btn-primary" type="button">Submit</button>
        </div>
      </div>
      
    </div>
    
  </div>