<div class="mb-5">
    <div class="container-sm text-dark">
        <h1>Porfolio </h1>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, teilus ac cursus commodo.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="Descripción de la imagen">
                    <div class="card-body">
                        <h3 class="text-primary">Project Name</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adispiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                     <div class="d-flex justify-content-between align-items-center">
                         </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="Descripción de la imagen">
                    <div class="card-body">
                        <h3 class="text-primary">Project Name</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adispiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                     <div class="d-flex justify-content-between align-items-center">
                         </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="Descripción de la imagen">
                    <div class="card-body">
                        <h3 class="text-primary">Project Name</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adispiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                     <div class="d-flex justify-content-between align-items-center">
                         </div>
                </div>
            </div>
        </div>
    </div>
</div>